
.Button{
    width: 120px;
}
.Button2 {
    width: 120px;
}
.Title {
    margin-left: 80px;
}
.Form {
    margin-left: 80px;
}
.Box {
    display: flex;
    justify-content: space-between;
    margin-left: 600px;
    margin-right: 600px;
}

.Form-field{
    width: 400px;
    
}