.Title{
    margin-left: 80px;
}


.Button {
    margin-left: 80px;
}

.Division {
    border-top: 1px solid lightgray;
    margin-left: 80px;
}


.Tarjetas {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin-left: 80px;
}

.Tarjeta {
    height: 500px;
    width: 300px;
    margin-right: 80px; 
}

.Image{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}